.commanderContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 100%;
}
.playerName {
  cursor: pointer;
}
.button {
  background-color: black;
  border-radius: 10px;
  color: white;
  border: none;
  margin-right: 20px;
  padding: 10px;
  outline: none;
}
.button:active {
  background-color: white;
  color: black;
}
