.smallImage {
  /* position: relative; */
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 5% / 3.75%;
}
.hoverImage {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 2;
  border-radius: 5% / 3.75%;
}
.firstHoverImage {
  position: fixed;
  border-radius: 5% / 3.75%;
}
.secondHoverImage {
  position: fixed;
  border-radius: 5% / 3.75%;
  transform: translateX(488px);
}
.doubleSideHover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}
.historyContainer {
  display: grid;
  grid-template-columns: repeat(10, minmax(10px, max-content));
  grid-template-rows: repeat(auto-fit, minmax(10px, max-content));
  overflow: hidden;
  padding-right: 73px;
  padding-top: 10px;
}
.smallImage:hover + .doubleSideHover {
  display: block;
}
.smallImage:hover + .hoverImage {
  display: block;
}

.padding {
  padding: 5px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
