.container {
  display: grid;
  grid-template-areas: "main side";
  grid-template-columns: 1fr 1fr;
}
.main {
  grid-area: main;
  display: grid;
  grid-template-areas: "title" "search";
  grid-template-rows: 100px 1fr;
  height: 100vh;
}

.title {
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
