.playerContainer {
  display: grid;
  grid-template-areas: "details commander";
  grid-template-columns: 2fr 1fr;
  padding: 10px;
  margin: 5px;
  background-color: rgb(78, 78, 78);
}
.commanderCardContainer {
  grid-area: commander;
  display: grid;
  grid-template-areas: "commanderCardImageContainer" "commanderCardButton";
}
.commanderCardButton {
  grid-area: commanderCardButton;
  width: 146px;
}
.commanderCardImageContainer {
  grid-area: commanderCardImageContainer;
}
.infoContainer {
  grid-area: details;
  display: grid;
  grid-template-areas:
    "playerName"
    "commanderDamageContainer"
    "lifeCounter";
  grid-template-rows: 1fr 3fr 1fr;
}
.playerNameInput {
  grid-area: playerName;
  width: 70%;
}
.playerName {
  grid-area: playerName;
  font-size: 1.4em;
}
.commanderDamageContainer {
  grid-area: commanderDamageContainer;
}
.lifeTotalsContainer {
  grid-area: lifeCounter;
  display: grid;
  grid-template-areas: "addLifeButton lifeTotal subtractLifeButton burnButton";
}
.addLifeButton {
  grid-area: addLifeButton;
  background-color: black;
  color: white;
  font-size: 1.8em;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  border: none;
  outline: none;
}
.subtractLifeButton {
  grid-area: subtractLifeButton;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.8em;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  border: none;
  outline: none;
}
.lifeButton:active {
  background-color: white;
  color: black;
}
.playerLifeNumber {
  grid-area: lifeTotal;
  font-size: 2em;
}
.burnButton {
  height: 40px;
  border-radius: 10%;
  background-color: orange;
  border: none;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.burnButton:active {
  background-color: orangered;
  color: white;
}
.setCommanderCard {
  border-radius: 5% / 3.75%;
}
.cardBack {
  border-radius: 5% / 3.75%;
  height: 204px;
}

.suggestionsContainer {
  position: absolute;
  grid-area: suggestionsContainer;
  display: grid;
}

.suggestionItem {
  background-color: rgb(112, 112, 112);
  color: white;
  border: solid rgba(197, 197, 197, 0.403) 1px;
  padding: 4px;
  cursor: pointer;
  height: 40px;
  font-size: 0.8em;
  max-width: 200px;
  min-width: 200px;
  z-index: 2;
}
