.playerContainer {
  display: grid;
  grid-template-areas: "details commander";
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  margin: 5px;
  background-color: rgb(78, 78, 78);
}
.playerName {
  font-size: 1.8em;
}
.commanderCardContainer {
  grid-area: commander;
  display: grid;
  grid-template-areas: "commanderCardImageContainer" "commanderCardButton";
}
.commanderCardButton {
  grid-area: commanderCardButton;
  width: 146px;
}
.commanderCardImageContainer {
  grid-area: commanderCardImageContainer;
}
.infoContainer {
  grid-area: details;
}
.lifeButton {
  background-color: black;
  color: white;
  font-size: 1.8em;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
}
.lifeButton:active {
  background-color: white;
  color: black;
}
.playerLifeNumber {
  font-size: 2em;
}
.burnButton {
  margin: 20px;
  border-radius: 50%;
  padding: 10px;
  background-color: orange;
  border: none;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.burnButton:active {
  background-color: orangered;
  color: white;
}
.setCommanderCard {
  border-radius: 5% / 3.75%;
}
.cardBack {
  border-radius: 5% / 3.75%;
  height: 204px;
}

.suggestionsContainer {
  position: absolute;
  grid-area: suggestionsContainer;
  display: grid;
}

.suggestionItem {
  background-color: rgb(112, 112, 112);
  color: white;
  border: solid rgba(197, 197, 197, 0.403) 1px;
  padding: 4px;
  cursor: pointer;
  height: 40px;
  font-size: 0.8em;
  max-width: 200px;
  min-width: 200px;
  z-index: 2;
}
